body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f9fa;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 100%;
  max-width: 600px;
  background: white;
  min-height: 100vh;
  border-left: 1px solid #e1e8ed;
  border-right: 1px solid #e1e8ed;
}

header {
  padding: 15px;
  border-bottom: 1px solid #e1e8ed;
  font-weight: bold;
  font-size: 20px;
}

.tweet-form {
  padding: 15px;
  border-bottom: 10px solid #e1e8ed;
  display: flex;
  flex-direction: column;
}

.tweet-form textarea {
  border: none;
  resize: none;
  font-size: 18px;
  margin-bottom: 10px;
  outline: none;
}

.tweet-form button {
  align-self: flex-end;
  background-color: #1da1f2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.tweet-form button:disabled {
  background-color: #8ed0f9;
  cursor: default;
}

.tweet {
  padding: 15px;
  border-bottom: 1px solid #e1e8ed;
}

.tweet-content {
  font-size: 16px;
  margin-bottom: 5px;
  word-wrap: break-word;
}

.tweet-date {
  font-size: 14px;
  color: #657786;
}
